<p>users works!</p>

<a routerLink="add/newuser">add new user</a>
<div *ngIf="users && users.length > 0"> 
    <div class="container"> 
         <table class="table table-striped">
           <thead>
             <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Username</th>
               <th>Email</th>
               <th>Phone</th>
               <th>Password</th>
               <th>Address</th> 
               <th>__v
            </th> 
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let user of users">
               <td>{{ user.id }}</td>
               <td>{{ user.name.firstname }} {{ user.name.lastname }}</td>
               <td><a routerLink="/user/{{user.id}}" class="card-link btn btn-outline-primary btn-sm mt-3">{{ user.username }}</a></td>
               <td>{{ user.email }}</td>
               <td>{{ user.phone }}</td> 
               <td>{{ user.password }}</td>
               <td>{{ user.address.city }}</td>
               <td>{{ user.__v }}</td>
             </tr>
           </tbody>
         </table>
       </div>
   </div>