<p>add-product works!</p>
<form (ngSubmit)="onSubmit()">
  
    <div>
      <label for="title">title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="product.title" required>
    </div>
  
   
    <div>
      <label for="price">price:</label>
      <input type="text" id="price" name="price" [(ngModel)]="product.price" required>
    </div>
  
    <!-- Password -->
    <div>
      <label for="description">description:</label>
      <input type="text" id="description" name="description" [(ngModel)]="product.description" required>
    </div>
  
    <!-- Phone -->
    <div>
      <label for="category">category:</label>
      <input type="text" id="category" name="category" [(ngModel)]="product.category">
    </div>
    <div>
      <label for="image">image:</label>
      <input type="file" id="image" name="image" [(ngModel)]="product.image">
    </div>
  
   
    <button type="submit">Add User</button>
    <p>{{product | json}}</p>
  </form>